@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Raleway', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: normal;
	color: #595c65;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 1.1em;
}
.line {
	border-bottom: 1px solid;
}
.line2 {
	border-bottom: 1px solid #EEEEEE;
}
h4 {
	margin-bottom: 0.5em;
	text-indent: 1em;
}
.slideT dt {
	display: block;
	cursor: pointer;
}
.slideT dd {
	display: none;
	margin-left: 1em;
}
.slideT dd img {
	margin-right:0.5em;
	margin-bottom:0.5em;
}

.gray{
	color:#cccccc;
}
.border{
border: 1px #EEEEEE solid;
}